*, *::before, *::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

html {
	font-family: system-ui, sans-serif;
	font-size: 125%;
	line-height: 1.5;
}

body {
	margin-inline: auto;
	min-block-size: 100dvb;
	inline-size: min(94lvi, 70ch);
}

button,
input,
select,
textarea {
	font: inherit;
}
